<div class="row">
    <div class="col-6">
        <h2>Archivos</h2>
    </div>
    <div class="col-3 ms-auto">
        <button class="btn btn-primary dropdown-toggle" type="button"
         id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Acciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Nuevo</a></li>
            <li><a class="dropdown-item" href="#">Borrar</a></li>
        </ul>
    </div>
</div>
<div class="row border-top">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Dueños</th>
                </tr>
            </thead>
            <tbody>
                tbody
            </tbody>
        </table>
    </div>
</div>